@import "./variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.my_button {
    text-transform: uppercase;
    padding: 0.4rem 1rem;
    
    
} 

.my_button.btn_blue {
        background-color: $blue_light;
        border: none;
        color: white;

        &:hover {
            background-color: $blue_dark;
        }
}

.my_button.btn_transparent {
    background-color: none;
    border: 1px solid white;

    &:hover {
        background-color: white;
        color: $blue_light;
        border: 1px solid $grey_dark;
    }
}

// bootstrap override
ul {
    margin-bottom: 0;
}

.container {
    padding: 2rem;
}