// colors
$blue_light: #39afbb;
$blue_median: #3597c3;
$blue_dark: #327ec7;
$grey_light: #f1efef;
$grey_median: #41474f;
$grey_dark: #7c858f;

$text_dark_blue: #0f1d2d;
$text_light_grey: #7c858f;

// dimensions
$icon_width: 60px;
